<div class="row col-md-8 col-md-offset-2">
  <h1><%= @chatroom.topic %></h1>

<div class="panel panel-default">
  <% if @chatroom.messages.any? %>
    <div class="panel-body" id="messages" data-chatroom=<%=@chatroom.id%> >
      <%= render partial: 'messages/message', collection: @chatroom.messages%>
    </div>
  <%else%>
    <div class="panel-body hidden" id="messages" data-chatroom=<%=@chatroom.id%>>
    </div>
  <%end%>
</div>


  <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom}%>
</div>

<script type="text/javascript">
  App['room' + <%=@chatroom.id%>] = App.cable.subscriptions.create({channel: 'MessagesChannel', room: <%=@chatroom.id%>}, {  
    received: function(data) {
      console.log(data);
     $("[data-chatroom='" + data.chatroom_id + "']").removeClass('hidden');
      return $("[data-chatroom='" + data.chatroom_id + "']").append(data.message);
    }
  });
</script>